<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- App manifest -->
    <link rel="manifest" href="{{ base_url() }}/public/manifest.json">

    <!-- Browserconfig -->
    <meta name="msapplication-config" content="{{ base_url() }}/public/browserconfig.xml" />

    <!-- Favicon(s) -->
    {{ include('/@shared/fav-icons.twig') }}

    <!-- Page Title -->
    <title>
        {% if pageTitle %}{{ pageTitle }}{% else %}Element3{% endif %}
    </title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS styles -> app.min.css -->
    <link id="pagestyle" href="{{ base_url() }}/public/css/back/app.min.css" rel="stylesheet" />
    <!-- CSS styles -> Pace.js -->
    <link rel="stylesheet" href="{{ base_url() }}/public/css/plugins/pace/pace-theme-{{ setup.app_color }}.min.css">

</head>