<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-cog fa-spin py-2"> </i>
    </a>
    <div class="card shadow-lg ">
        <div class="card-header pb-0 pt-3 ">
            <div class="float-start">
                <h5 class="mt-3 mb-0">Soft UI Configurator</h5>
                <p>See our dashboard options.</p>
            </div>
            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
            <!-- Sidebar Backgrounds -->
            <div>
                <h6 class="mb-0">Sidebar Colors</h6>
                <p class="text-sm">Choose between 6 different standard colors.</p>
            </div>
            <form action="{{ path_for('setup.app.switch.color') }}" method="post" class="form-check form-switch ps-0">
                <a class="switch-trigger background-color">
                    <div class="badge-colors my-2 text-start">

                        <!-- STANDARD colors -->
                        <button name="app_color" value="primary"        class="badge filter bg-gradient-primary {% if setup.app_color == "primary" %}active{% endif %}"></button>
                        <button name="app_color" value="dark"           class="badge filter bg-gradient-dark {% if setup.app_color == "dark" %}active{% endif %}"></button>
                        <button name="app_color" value="info"           class="badge filter bg-gradient-info {% if setup.app_color == "info" %}active{% endif %}"></button>
                        <button name="app_color" value="success"        class="badge filter bg-gradient-success {% if setup.app_color == "success" %}active{% endif %}"></button>
                        <button name="app_color" value="warning"        class="badge filter bg-gradient-warning {% if setup.app_color == "warning" %}active{% endif %}"></button>
                        <button name="app_color" value="danger"         class="badge filter bg-gradient-danger {% if setup.app_color == "danger" %}active{% endif %}"></button>

                    </div>
                    <div class="badge-colors mt-2 my-2 text-start">

                        <!-- CUSTOM PREMIUM colors -->
                        <button name="app_color" value="nexus"          class="badge filter bg-gradient-nexus {% if setup.app_color == "nexus" %}active{% endif %}"></button>
                        <button name="app_color" value="sunset-malibu"  class="badge filter bg-gradient-sunset-malibu {% if setup.app_color == "sunset-malibu" %}active{% endif %}"></button>
                        <button name="app_color" value="deep-sea"       class="badge filter bg-gradient-deep-sea {% if setup.app_color == "deep-sea" %}active{% endif %}"></button>

                    </div>
                </a>

                <!-- CSRF protection -->
                {{ csrf.field | raw }}

            </form>
            <!-- Sidenav Type -->
            <div class="mt-3">
                <h6 class="mb-0">Sidenav Type</h6>
                <p class="text-sm">Choose between 2 different sidenav types.</p>
            </div>
            <form action="{{ path_for('setup.app.switch.sidebar-type') }}" method="post" class="d-flex">
                <button name="sidebar_type" value="bg-transparent"  class="btn bg-gradient-{{ setup.app_color }} w-100 px-3 mb-2 active">Transparent</button>
                <button name="sidebar_type" value="bg-white"        class="btn bg-gradient-{{ setup.app_color }} w-100 px-3 mb-2 ms-2">White</button>
                <!-- CSRF protection -->
                {{ csrf.field | raw }}
            </form>
            <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
            <!-- Navbar Fixed -->
            <div class="mt-3">
                <h6 class="mb-0">Navbar Fixed</h6>
            </div>
            <form action="{{ path_for('setup.app.toggle.navbar-fixed') }}" method="post" class="form-check form-switch ps-0">
                <input id="navbarFixed" name="navbarFixed" type="checkbox" class="form-check-input mt-1 ms-auto" {% if setup.app_navbar_fixed %}checked{% endif %} onChange="this.form.submit()" aria-label="navbarFixed">
                <!-- CSRF protection -->
                {{ csrf.field | raw }}
            </form>
            <!-- Bottom -->
            <hr class="horizontal dark my-sm-4">
            <a class="btn bg-gradient-dark w-100 active" href="https://www.creative-tim.com/product/soft-ui-dashboard">Free Download</a>
            <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard">View documentation</a>
            <div class="w-100 text-center">
                <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
                <h6 class="mt-3">Thank you for sharing!</h6>
                <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
                    <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
                    <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
                </a>
            </div>
        </div>
    </div>
</div>