{% extends "/auth/layout.twig" %}

{% block title %}{{ trans('auth.uac.page_title') }}{% endblock %}

{% block content %}

    <!-- include : COMPANY LOGO & NAME -->
    {{ include('/auth/_partials/name-and-logo.twig') }}

    <section class="mt-0">
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">

                            <div class="card card-plain">
                                <div class="card-header pb-0 text-center no-background">
                                    <h3 class="text-{{ setup.app_color }} text-gradient">
                                        Få adgang til alt det fede
{#                                        {{ trans('auth.uac.call_to_action') }}#}
                                    </h3>
                                    <p class="mb-0">
                                        Du finder din token i din mail indbakke 😊👌
                                    </p>
                                </div>
                                <div class="card-body px-lg-5 py-lg-3 text-center">
                                    <form id="activate-user" action="{{ path_for('auth.activate-user') }}" method="post">
                                        <div class="row token-inputs gx-2 gx-sm-3">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_1" name="input_1" type="text" onkeyup="jumpToNextPcInput(2)" class="form-control form-control-lg center-text {{ errors.input_1 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_1" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_2" name="input_2" type="text" onkeyup="jumpToNextPcInput(3)" class="form-control form-control-lg center-text {{ errors.input_2 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_2" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_3" name="input_3" type="text" onkeyup="jumpToNextPcInput(5)" class="form-control form-control-lg center-text {{ errors.input_3 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_3" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_4" name="input_4" type="text" class="form-control form-control-lg center-text" value="-" disabled aria-label="input_4" style="padding: 12px 0; border: 0; background-color: transparent; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_5" name="input_5" type="text" onkeyup="jumpToNextPcInput(6)" class="form-control form-control-lg center-text {{ errors.input_5 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_5" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_6" name="input_6" type="text" onkeyup="jumpToNextPcInput(7)" class="form-control form-control-lg center-text {{ errors.input_6 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_6" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input id="input_7" name="input_7" type="text" class="form-control form-control-lg center-text {{ errors.input_7 ? 'is-invalid' }} : ''" maxlength="1" autocomplete="off" autocapitalize="off" aria-label="input_7" style="padding: 12px 0; font-size: 18px; font-weight: bold">
                                                </div>
                                            </div>
                                            <!-- CSRF protection -->
                                            {{ csrf.field | raw }}
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <button type="submit" form="activate-user" class="btn bg-gradient-{{ setup.app_color }} w-100">
                                            {{ trans('auth.uac.activation_button') }}
                                        </button>
                                        <span class="text-muted text-sm">
{#                                            {{ trans('auth.uac.no_code_pre_txt') }}<a href="{{ path_for('auth.resend.activation-code') }}"> {{ trans('auth.uac.no_code_cta_txt') }}</a>.#}
                                            {{ trans('auth.uac.no_code_pre_txt') }}<a href="#"> {{ trans('auth.uac.no_code_cta_txt') }}</a>.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                            <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{{ base_url() }}/public/assets/img_green_curved.jpg'); background-size: cover">
                                <div class="position-relative">
                                    <img class="max-width-500 w-100 position-relative z-index-2" src="{{ base_url() }}/public/assets/img_illu_lock_dark.png" alt="chart-ill">
                                </div>
                                <h4 class="mt-5 text-white font-weight-bolder">
                                    {{ trans('auth.uac.illustration_txt_heading') }}
                                </h4>
                                <p class="text-white">
                                    {{ trans('auth.uac.illustration_txt_subtitle') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block scripts %}

    <!-- injecting and removing .css classes on page -->
    <script>

        $( document ).ready(function() {

            $('#auth-navbar').addClass(" shadow-none w-100 navbar-transparent mt-4");
        });

    </script>

    <script>

        function jumpToNextPcInput(index){

            document.getElementById('input_' + index).focus();
        }

    </script>

{% endblock %}
